<head>
  <title>Dummy Mail</title>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Optimizations for mobile devices -->
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
</head>

<body>
  <section class="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 centerAlign">
          <a class="logo" href="www.appstirr.com">
            <img src="https://www.appstirr.com/assets/images/logo.png" />
          </a>
        </div>
        <div class="col-lg-4 col-md-12 noDisp">
          <div class="headerInfo">
            <h6>+1 917 398 3961</h6>
            <h6>info@appstirr.com</h6>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="intro">
        <p>Dear (Customer Name)</p>
      </div>
      <div class="emailText">
        <p>
          Thank you for filling out the app development form at APPSTIRR. It is
          our foremost duty to deliver seamless mobile applications for all
          platforms. APPSTIRR is committed to develop a mobile application that
          compliments your business and fulfils the planned objective. Our
          representative will contact you shortly for discussing the project.
        </p>
      </div>
      <div class="emailEnd">
        <p>ThankYou!</p>
      </div>
      <div class="emailLast">
        <p>
          Contact APPSTIRR ON: <a href="+1-917-398-3961"> +1 917 398 3961 </a>
        </p>
        <p>Email Us: <a href="info@appstirr.com"> info@appstirr.com</a></p>
        <p>
          Address:
          <a
            href="https://www.google.com/maps/place/250+W+55th+St,+New+York,+NY+10019,+USA/@40.7649753,-73.9853857,17z/data=!3m1!4b1!4m5!3m4!1s0x89c2585801ab6075:0xbd6303ed56ed1244!8m2!3d40.7649713!4d-73.983197"
            >250 W. 55th Street, New York, NY 10019</a
          >
        </p>
      </div>
    </div>
  </section>

  <!-- Jquery first, then JavaScript -->
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
</body>
