<div style="max-width: 630px;margin: 0 auto;font-family: Arial;">
    <table style="width:100%;font-size: 14px; line-height: 24px;">
        <tr>
            <td style="padding: 20px 0px; border-bottom:4px solid #0018ff; text-align: center">
                <a href="//appstirr.com" target="_blank" style="margin: 0"><img src="https://www.appstirr.com/assets/images/logo.png"></figure>
            </td>
        </tr>
        <tr>
            <td style="padding: 58px 0">
                <p><strong>Dear [customer-name]</strong></p>

                <p>Thank you for filling out the app development form at APPSTIRR. It is our foremost duty to deliver seamless mobile applications for all platforms. APPSTIRR is committed to develop a mobile application that compliments your business and
                    the planned objective. Our representative will contact you shortly for discussing the project.</p>

                <p>ThankYou!</p>
                <table style="width: 100%;font-size: 14px; line-height: 24px;">
                    <tr>
                        <td style="width: 160px;">Contact APPSTIRR on:</td>
                        <td><a href="+1-917-398-3961 "> +1 917 398 3961 </a></td>
                    </tr>
                    <tr>
                        <td>Email Us: </td>
                        <td><a href="info@appstirr.com "> info@appstirr.com</a></td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td><a href="//www.google.com/maps/place/250+W+55th+St,+New+York,+NY+10019,+USA/@40.7649753,-73.9853857,17z/data=!3m1!4b1!4m5!3m4!1s0x89c2585801ab6075:0xbd6303ed56ed1244!8m2!3d40.7649713!4d-73.983197 ">250 W. 55th Street, New York, NY 10019</a></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="border-top: 1px solid #ccc; padding:5px 0 ;">
                <p style="margin:0;color: grey;font-size: 12px; text-align: center;">+1 917 398 3961 | info@appstirr.com</p>
            </td>
        </tr>
    </table>
</div>